<a href="https://colab.research.google.com/github/starmaerker/Algorithmen-und-Datenstrukturen-in-Python/blob/master/Data_Exploration_Pandas_College_Major.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df = pd.read_csv('salaries_by_college_major.csv')
df.head()

     Undergraduate Major  ...     Group
0             Accounting  ...  Business
1  Aerospace Engineering  ...      STEM
2            Agriculture  ...  Business
3           Anthropology  ...      HASS
4           Architecture  ...  Business

[5 rows x 6 columns]

In [ ]:
df["Starting Median Salary"].idxmax()

43

In [ ]:
df['Undergraduate Major'].loc[43]

'Physician Assistant'

In [1]:
import pandas as pd
df = pd.read_csv("salaries_by_college_major.csv")
df.head()

     Undergraduate Major  ...     Group
0             Accounting  ...  Business
1  Aerospace Engineering  ...      STEM
2            Agriculture  ...  Business
3           Anthropology  ...      HASS
4           Architecture  ...  Business

[5 rows x 6 columns]

In [2]:
df.shape

(51, 6)

In [3]:
df.columns

Index(['Undergraduate Major', 'Starting Median Salary',
       'Mid-Career Median Salary', 'Mid-Career 10th Percentile Salary',
       'Mid-Career 90th Percentile Salary', 'Group'],
      dtype='object')

In [4]:
df.isna()

    Undergraduate Major  ...  Group
0                 False  ...  False
1                 False  ...  False
2                 False  ...  False
3                 False  ...  False
4                 False  ...  False
5                 False  ...  False
6                 False  ...  False
7                 False  ...  False
8                 False  ...  False
9                 False  ...  False
10                False  ...  False
11                False  ...  False
12                False  ...  False
13                False  ...  False
14                False  ...  False
15                False  ...  False
16                False  ...  False
17                False  ...  False
18                False  ...  False
19                False  ...  False
20                False  ...  False
21                False  ...  False
22                False  ...  False
23                False  ...  False
24                False  ...  False
25                False  ...  False
26                False  ...  False
27                False  ...  False
28                False  ...  False
29                False  ...  False
30                False  ...  False
31                False  ...  False
32                False  ...  False
33                False  ...  False
34                False  ...  False
35                False  ...  False
36                False  ...  False
37                False  ...  False
38                False  ...  False
39                False  ...  False
40                False  ...  False
41                False  ...  False
42                False  ...  False
43                False  ...  False
44                False  ...  False
45                False  ...  False
46                False  ...  False
47                False  ...  False
48                False  ...  False
49                False  ...  False
50                False  ...   True

[51 rows x 6 columns]

In [5]:
df.tail()

      Undergraduate Major  ...  Group
46             Psychology  ...   HASS
47               Religion  ...   HASS
48              Sociology  ...   HASS
49                Spanish  ...   HASS
50  Source: PayScale Inc.  ...    NaN

[5 rows x 6 columns]

In [6]:
df

                     Undergraduate Major  ...     Group
0                             Accounting  ...  Business
1                  Aerospace Engineering  ...      STEM
2                            Agriculture  ...  Business
3                           Anthropology  ...      HASS
4                           Architecture  ...  Business
5                            Art History  ...      HASS
6                                Biology  ...      STEM
7                    Business Management  ...  Business
8                   Chemical Engineering  ...      STEM
9                              Chemistry  ...      STEM
10                     Civil Engineering  ...      STEM
11                        Communications  ...      HASS
12                  Computer Engineering  ...      STEM
13                      Computer Science  ...      STEM
14                          Construction  ...  Business
15                      Criminal Justice  ...      HASS
16                                 Drama  ...      HASS
17                             Economics  ...  Business
18                             Education  ...      HASS
19                Electrical Engineering  ...      STEM
20                               English  ...      HASS
21                                  Film  ...      HASS
22                               Finance  ...  Business
23                              Forestry  ...  Business
24                             Geography  ...      HASS
25                               Geology  ...      STEM
26                        Graphic Design  ...      HASS
27            Health Care Administration  ...  Business
28                               History  ...      HASS
29                 Hospitality & Tourism  ...  Business
30                Industrial Engineering  ...      STEM
31           Information Technology (IT)  ...      STEM
32                       Interior Design  ...      HASS
33               International Relations  ...      HASS
34                            Journalism  ...      HASS
35  Management Information Systems (MIS)  ...      STEM
36                             Marketing  ...  Business
37                                  Math  ...      STEM
38                Mechanical Engineering  ...      STEM
39                                 Music  ...      HASS
40                               Nursing  ...  Business
41                             Nutrition  ...      HASS
42                            Philosophy  ...      HASS
43                   Physician Assistant  ...      STEM
44                               Physics  ...      STEM
45                     Political Science  ...      HASS
46                            Psychology  ...      HASS
47                              Religion  ...      HASS
48                             Sociology  ...      HASS
49                               Spanish  ...      HASS
50                 Source: PayScale Inc.  ...       NaN

[51 rows x 6 columns]

In [7]:
clean_df = df.dropna()
clean_df.tail()

   Undergraduate Major  ...  Group
45   Political Science  ...   HASS
46          Psychology  ...   HASS
47            Religion  ...   HASS
48           Sociology  ...   HASS
49             Spanish  ...   HASS

[5 rows x 6 columns]

In [13]:
clean_df["Mid-Career Median Salary"].max()
index_max = clean_df['Mid-Career Median Salary'].idxmax()
clean_df["Undergraduate Major"][index_max]

'Chemical Engineering'

In [14]:
index_min_starting = clean_df["Starting Median Salary"].idxmin()
clean_df['Undergraduate Major'][index_min_starting]

'Spanish'

In [16]:
index_min = clean_df['Mid-Career Median Salary'].idxmin()
clean_df["Undergraduate Major"][index_min]

'Education'

Majors with the Most Potential vs Lowest Risk

In [18]:
index_highest = (clean_df['Mid-Career 90th Percentile Salary'] - clean_df['Mid-Career 10th Percentile Salary']).idxmax()
clean_df['Undergraduate Major'][index_highest]

'Economics'

In [19]:
index_lowest = (clean_df['Mid-Career 90th Percentile Salary'] - clean_df['Mid-Career 10th Percentile Salary']).idxmin()
clean_df['Undergraduate Major'][index_lowest]

'Nursing'

In [20]:
    spread_col = clean_df['Mid-Career 90th Percentile Salary'] - clean_df['Mid-Career 10th Percentile Salary']
    clean_df.insert(1, 'Spread', spread_col)
    clean_df.head()

     Undergraduate Major    Spread  ...  Mid-Career 90th Percentile Salary     Group
0             Accounting  109800.0  ...                           152000.0  Business
1  Aerospace Engineering   96700.0  ...                           161000.0      STEM
2            Agriculture  113700.0  ...                           150000.0  Business
3           Anthropology  104200.0  ...                           138000.0      HASS
4           Architecture   85400.0  ...                           136000.0  Business

[5 rows x 7 columns]

In [23]:
    low_risk = clean_df.sort_values('Spread', ascending=False)
    low_risk[['Undergraduate Major','Mid-Career 90th Percentile Salary', 'Spread']].head()

   Undergraduate Major  Mid-Career 90th Percentile Salary    Spread
17           Economics                           210000.0  159400.0
22             Finance                           195000.0  147800.0
37                Math                           183000.0  137800.0
36           Marketing                           175000.0  132900.0
42          Philosophy                           168000.0  132500.0

In [24]:
diff_salary_col = clean_df['Mid-Career Median Salary'] - clean_df['Starting Median Salary']
clean_df.insert(4, 'Salary Difference', diff_salary_col)
clean_df.head()

     Undergraduate Major    Spread  ...  Mid-Career 90th Percentile Salary     Group
0             Accounting  109800.0  ...                           152000.0  Business
1  Aerospace Engineering   96700.0  ...                           161000.0      STEM
2            Agriculture  113700.0  ...                           150000.0  Business
3           Anthropology  104200.0  ...                           138000.0      HASS
4           Architecture   85400.0  ...                           136000.0  Business

[5 rows x 8 columns]

In [27]:
low_salary_diff = clean_df.sort_values('Salary Difference')
low_salary_diff[['Undergraduate Major','Salary Difference']].head()

    Undergraduate Major  Salary Difference
40              Nursing            12800.0
41            Nutrition            15400.0
32      Interior Design            17100.0
18            Education            17100.0
43  Physician Assistant            17400.0